// Dark theme by default
$themes: 'dark', 'light';
$theme_linear_bgcolor: 17;
$theme_linear_color: 236;
$theme_oddLine_bgcolor: 32;
$theme_evenLine_bgcolor: 27;
$theme_scrollbar_color: 153; // 153
$theme_scrollbar_hovercolor: 119; // 119

@function darkLight($theme, $color) {
    @if $theme == 'dark' {
        @return rgb($color, $color, $color);
    } @else {
        @return rgb(255 - $color, 255 - $color, 255 - $color);
    }
}
/*
    Generate theme
*/
@each $theme in $themes {
    html.#{$theme}, body.#{$theme}, .editor.#{$theme} {
        // Color support for firefox scrollbar
        scrollbar-color: darkLight($theme, $theme_scrollbar_color) darkLight($theme, $theme_linear_bgcolor) !important;
        // Color support for scrollbar
        &::-webkit-scrollbar-thumb {
            background-color: darkLight($theme, $theme_scrollbar_color);
        }
        &::-webkit-scrollbar-thumb:hover {
            background: darkLight($theme, $theme_scrollbar_hovercolor);
        }
    }
    body.#{$theme} {
        background-color: darkLight($theme, $theme_linear_bgcolor);
        color: darkLight($theme, $theme_linear_color);
    }
    .mode-toggle.#{$theme} {
        color: darkLight($theme, $theme_linear_color);
        background-color: darkLight($theme, $theme_oddLine_bgcolor);
        border: 2px solid darkLight($theme, $theme_linear_bgcolor * 3);
        &:hover {
            background-color: darkLight($theme, $theme_linear_bgcolor * 3);
        }
    }
    .editor.#{$theme} {
        border: medium double darkLight($theme, $theme_linear_bgcolor * 3);
    }
    .editor_linenumber.#{$theme} > p {
        border-right: medium double darkLight($theme, $theme_linear_bgcolor * 3);
    }
    .editor_linenumber.#{$theme}, .editor_container_backdrop.#{$theme} {
        p {
            background-color: darkLight($theme, $theme_oddLine_bgcolor);
        }
        p:nth-child(2n) {
            background-color: darkLight($theme, $theme_evenLine_bgcolor);
        }
    }
    .editor_container_inputarea.#{$theme} {
        caret-color: darkLight($theme, $theme_linear_color);
    }
}
.editor_container_inputarea {
    color: transparent;
}