.error {
    background-color: red;
}
.comment {
    color: green;
}
.word {
    color: blueviolet;
}
.logic {
    color: rgb(216, 12, 12);
}
.logcontrols {
    color:rgb(168, 63, 133);
}
// Dark mode colors
#cloneInput.dark > p {
    .string {
        color: orange;
    }
    .varword {
        color: cyan;
    }
    .number {
        color:rgb(230, 207, 179);
    }
    .keyword {
        color:rgb(241, 75, 152);
    }
}
// Light mode colors
#cloneInput.light > p {
    .string {
        color: rgb(194, 126, 0);
    }
    .varword {
        color: rgb(39, 119, 119);
    }
    .number {
        color:rgb(153, 116, 70);
    }
    .keyword {
        color:rgb(104, 2, 163);
    }
}