.error {
    background-color: red;
}
.comment {
    color: green;
}
.string {
    color: orange;
}
.word {
    color: blueviolet;
}
.varword {
    color: cyan;
}
.keyword {
    color:rgb(218, 75, 142);
}
.number {
    color:rgb(230, 207, 179);
}
.logic {
    color: rgb(216, 12, 12);
}
.logcontrols {
    color:rgb(248, 62, 140);
}