.editor > .editor_linenumber > p {
    width: 60px;
}
.editor {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 630px;
    max-height: 630px;
    max-width: 660px;
    max-width: 1660px;
    overflow: scroll;
    border-radius: 5px;
    &_linenumber {
        width: 60px;
        min-height: 630px; // 35 * 18px
        max-height: 630px;
        min-width: 60px;
        max-width: 60px;
        margin-right: 3px;
        text-align: right;
        p {
            padding-right: 5px;
        }
    }
    &_container {
        position: relative;
        width: 100%;
        height: 100%;
        &_inputarea {
            padding-left: 5px;
            min-width: calc(100% - 5px);
            min-height: 18 * 35px;
            position: absolute;
            z-index: 2;
            font-family: 'Courier New', Courier, monospace;
            font-size: medium;
            resize: none;
            border: none;
            white-space: pre;
            background-color: transparent;
            overflow: hidden;
            &:focus {
                outline: none;
            }
        }
        &_backdrop {
            position: absolute;
            padding-left: 5px;
            font-family: 'Courier New', Courier, monospace;
            white-space: pre;
            font-size: medium;
            overflow: hidden;
            p {
                height: 18px;
            }
        }
    }
}