* {
    margin: 0;
    padding: 0;
    scrollbar-width: auto !important;
}
body {
    font-family: 'Courier New', Courier, monospace;
}
@import 'colorTheme';
@import 'scrollBar';
@import 'highlighting';
@import 'textEditor';