* {
  margin: 0;
  padding: 0;
  scrollbar-width: auto !important;
}

body {
  font-family: "Courier New", Courier, monospace;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  border-width: 5px 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

:root {
  scrollbar-color: #999 rgb(17, 17, 17) !important;
  scrollbar-width: thin !important;
}

.editor {
  scrollbar-color: #999 rgb(17, 17, 17) !important;
  scrollbar-width: thin !important;
}

/*
    Generate theme
*/
body.dark {
  background-color: rgb(17, 17, 17);
  color: rgb(236, 236, 236);
}

.editor.dark {
  border: medium double rgb(51, 51, 51);
}

.editor_linenumber.dark > p {
  border-right: medium double rgb(51, 51, 51);
}

.editor_linenumber.dark p, .editor_container_backdrop.dark p {
  background-color: rgb(39, 39, 39);
}
.editor_linenumber.dark p:nth-child(2n), .editor_container_backdrop.dark p:nth-child(2n) {
  background-color: rgb(27, 27, 27);
}

.editor_container_inputarea.dark {
  caret-color: rgb(236, 236, 236);
}

body.light {
  background-color: rgb(238, 238, 238);
  color: rgb(19, 19, 19);
}

.editor.light {
  border: medium double rgb(204, 204, 204);
}

.editor_linenumber.light > p {
  border-right: medium double rgb(204, 204, 204);
}

.editor_linenumber.light p, .editor_container_backdrop.light p {
  background-color: rgb(216, 216, 216);
}
.editor_linenumber.light p:nth-child(2n), .editor_container_backdrop.light p:nth-child(2n) {
  background-color: rgb(228, 228, 228);
}

.editor_container_inputarea.light {
  caret-color: rgb(19, 19, 19);
}

.editor_container_inputarea {
  color: transparent;
}

.error {
  background-color: red;
}

.comment {
  color: green;
}

.string {
  color: orange;
}

.word {
  color: blueviolet;
}

.varword {
  color: cyan;
}

.keyword {
  color: rgb(218, 75, 142);
}

.number {
  color: rgb(230, 207, 179);
}

.logic {
  color: rgb(216, 12, 12);
}

.logcontrols {
  color: rgb(248, 62, 140);
}

.editor > .editor_linenumber > p {
  width: 60px;
}

.editor {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 630px;
  max-height: 630px;
  max-width: 660px;
  max-width: 1660px;
  overflow: scroll;
  border-radius: 5px;
}
.editor_linenumber {
  width: 60px;
  min-height: 630px;
  max-height: 630px;
  min-width: 60px;
  max-width: 60px;
  margin-right: 3px;
  text-align: right;
}
.editor_linenumber p {
  padding-right: 5px;
}
.editor_container {
  position: relative;
  width: 100%;
  height: 100%;
}
.editor_container_inputarea {
  padding-left: 5px;
  min-width: calc(100% - 5px);
  min-height: 630px;
  position: absolute;
  z-index: 2;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  resize: none;
  border: none;
  white-space: pre;
  background-color: transparent;
  overflow: hidden;
}
.editor_container_inputarea:focus {
  outline: none;
}
.editor_container_backdrop {
  position: absolute;
  padding-left: 5px;
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
  font-size: medium;
  overflow: hidden;
}
.editor_container_backdrop p {
  height: 18px;
}